
/* Стили для корневого контейнера */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000000;
}
/* Стили для звезд */
.star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    animation: fallingStar linear infinite; /* Применяем анимацию падения */
    opacity: 0; /* Начальная прозрачность */
}

/* Анимация падения */
@keyframes fallingStar {
    0% {
        opacity: 1; /* Начинаем с непрозрачности */
        transform: translateY(-10vh) translateX(-50%); /* Появляемся в верхней части экрана */
    }
    50% {
        opacity: 1; /* Сохраняем непрозрачность */
    }
    100% {
        opacity: 0; /* Затухаем до полной прозрачности */
        transform: translateY(110vh) translateX(-50%); /* Падаем за нижнюю границу экрана */
    }
}


